<?xml version="1.0" encoding="UTF-8"?>
<phpdox xmlns="http://phpdox.net/config">
    <project name="Icicle" source="src" workdir="build/phpdox">
        <collector backend="parser" publiconly="false">
            <include mask="*.php"/>
        </collector>
        <generator output="build">
            <enrich base="${basedir}/build/logs">
                <source type="build"/>
                <source type="phpunit"/>
            </enrich>
            <build engine="html" enabled="true" output="api">
                <file extension="html"/>
            </build>
        </generator>
    </project>
</phpdox>

